.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}


* {
  font-family: 'poppins';
  color: white;
  font-size: 17px;
}

ui {
  width: 100vw;
  height: 100vh;
}

.icon {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.slider-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: auto;
}

.slider-thumb {
  position: absolute;
  width: 20px;
  height: 20px;
  background: url(/icon/sliderthumb.png);
  pointer-events: none;
  transform: translateX(-50%);
}

.slider {
  display: block;
  height: 20px;
  width: 160px;
}

.ui {
  z-index: 100;
  position: absolute;
  padding: 0px 15px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 25px;
  backdrop-filter: blur(50px);
  display: flex;
  align-items: center;
  gap: 15px;
  color: rgba(255, 255, 255, 0.9);
}

.ui.noFloat {
  position: initial;
}

.searchBar {
  top: 10px;
  left: 10px;
  width: 300px;
}

.searchBar #search {
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
}

.searchPanel {
  left: 10px;
  top: 60px;
  width: 300px;
  height: auto;
  padding: 8px 12px 12px 12px;
  align-items: baseline;
  flex-direction: column;
  gap: 5px;
  display: none;
}

.searchPanel.open {
  display: flex;
}

.searchPanel .subheading {
  padding-left: 8px;
  padding-top: 4px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.6);
}

.searchPanel .item {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  width: 100%;
  padding: 5px;
  border-radius: 12px;
  box-sizing: border-box;
}

.searchPanel .item:hover,
.searchPanel .item.selected {
  background-color: rgba(255, 255, 255, 0.1);
}

.searchPanel .item .icon {
  width: 25px;
  height: 25px;
}

.searchPanel .item .name {
  font-size: 15px;
  font-weight: 400;
}

.searchPanel .item .tag {
  font-size: 12px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.6);
}

.topRight {
  z-index: 100;
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 10px;
}

#coordinateText {
  height: 24px;
}

.bottomLeft {
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.layers {
  width: 114px;
  height: 46px;
  flex-direction: column;
  align-items: baseline;
  gap: 6px;
  overflow: hidden;
  position: unset;
  padding: 0px;
}

.layers.open {
  height: unset;
  width: 300px;
  padding: 10px 15px;
}

.layers .label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.layers:not(.open) .title {
  padding: 10px 15px;
}

.layers .title {
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
}

.layers .label .close {
  display: flex;
  align-items: center;
  margin-left: auto;
  cursor: pointer;
}

.layers:not(.open) .label .close {
  display: none;
}

.layers .item {
  display: flex;
  gap: 10px;
  align-items: center;
}

.layers .item .icon.right {
  position: absolute;
  right: 15px;
  cursor: pointer;
}

.layersettings {
  position: unset;
  flex-direction: column;
  align-items: baseline;
  height: unset;
  padding: 10px 15px;
  gap: 6px;
  opacity: 0;
  translate: -20px 0px;
  transition: opacity 0.25s cubic-bezier(.18, .69, .18, 1), translate 0.25s cubic-bezier(.18, .69, .18, 1);
}

.layersettings.open {
  opacity: 1;
  translate: 0px 0px;
}

ui:has(.layers:not(.open)) .layersettings {
  display: none;
}

.layersettings .label {
  display: flex;
  align-items: center;
  gap: 10px;
}

.layersettings .setting {
  display: flex;
  align-items: center;
  gap: 10px;
}

.layersettings .setting .icon.right {
  position: absolute;
  right: 15px;
  cursor: pointer;
}

.bottomMiddle {
  z-index: 100;
  position: absolute;
  bottom: 10px;
  left: calc(50vw - (430px / 2));
  display: flex;
  gap: 10px;
  width: 430px;
}

.bottomMiddle * {
  cursor: pointer;
  transition: background-color 5ms linear;
}

.bottomMiddle *:hover {
  background-color: rgba(8, 8, 8, 0.7);
}