.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}


* {
  font-family: 'poppins';
  color: white;
  font-size: 17px;
}

ui {
  width: 100vw;
  height: 100vh;
}

.icon {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.slider-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: auto;
}

.slider-thumb {
  position: absolute;
  width: 20px;
  height: 20px;
  background: url(/icon/sliderthumb.png);
  pointer-events: none;
  transform: translateX(-50%);
}

.slider {
  display: block;
  height: 20px;
  width: 160px;
}

.ui {
  z-index: 100;
  position: absolute;
  padding: 0px 15px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 25px;
  backdrop-filter: blur(50px);
  display: flex;
  align-items: center;
  gap: 15px;
  color: rgba(255, 255, 255, 0.9);
}

.ui.noFloat {
  position: initial;
}

.searchBar {
  top: 10px;
  left: 10px;
  width: 300px;
}

.searchBar #search {
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
}

.searchPanel {
  left: 10px;
  top: 60px;
  width: 300px;
  height: auto;
  overflow-y: scroll;
  max-height: 50vh;
  padding: 8px 12px 12px 12px;
  align-items: baseline;
  flex-direction: column;
  gap: 5px;
  display: none;
}

.searchPanel.open {
  display: flex;
}

.searchPanel .subheading {
  padding-left: 8px;
  padding-top: 4px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.6);
}

.searchPanel .item {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  width: 100%;
  padding: 5px;
  border-radius: 12px;
  box-sizing: border-box;
}

.searchPanel .item:hover,
.searchPanel .item.selected {
  background-color: rgba(255, 255, 255, 0.1);
}

.searchPanel .item .icon {
  width: 25px;
  height: 25px;
}

.searchPanel .item .name {
  font-size: 15px;
  font-weight: 400;
}

.searchPanel .item .tag {
  font-size: 12px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.6);
}

.topRight {
  z-index: 100;
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 10px;
}

#coordinateText {
  height: 24px;
}

.bottomLeft {
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.layers {
  width: 114px;
  height: 46px;
  flex-direction: column;
  align-items: baseline;
  gap: 6px;
  overflow: hidden;
  position: unset;
  padding: 0px;
}

.layers.open {
  height: unset;
  width: 300px;
  padding: 10px 15px;
}

.layers .label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.layers:not(.open) .title {
  padding: 10px 15px;
}

.layers .title {
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
}

.layers .label .close {
  display: flex;
  align-items: center;
  margin-left: auto;
  cursor: pointer;
}

.layers:not(.open) .label .close {
  display: none;
}

.layers .item {
  display: flex;
  gap: 10px;
  align-items: center;
}

.layers .item .icon.right {
  position: absolute;
  right: 15px;
  cursor: pointer;
}

.layersettings {
  position: unset;
  flex-direction: column;
  align-items: baseline;
  height: unset;
  padding: 10px 15px;
  gap: 6px;
  opacity: 0;
  translate: -20px 0px;
  transition: opacity 0.25s cubic-bezier(.18, .69, .18, 1), translate 0.25s cubic-bezier(.18, .69, .18, 1);
}

.layersettings.open {
  opacity: 1;
  translate: 0px 0px;
}

ui:has(.layers:not(.open)) .layersettings {
  display: none;
}

.layersettings .label {
  display: flex;
  align-items: center;
  gap: 10px;
}

.layersettings .setting {
  display: flex;
  align-items: center;
  gap: 10px;
}

.layersettings .setting .icon.right {
  position: absolute;
  right: 15px;
  cursor: pointer;
}

.bottomMiddle {
  z-index: 100;
  position: absolute;
  bottom: 10px;
  left: calc(50vw - (430px / 2));
  display: flex;
  gap: 10px;
  width: 430px;
}

.bottomMiddle * {
  cursor: pointer;
  transition: background-color 5ms linear;
}

.bottomMiddle *:hover {
  background-color: rgba(8, 8, 8, 0.7);
}

.rightClick {
  display: none;
}

.rightClick.open {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: baseline;
  height: unset;
  padding: 5px 5px;
  border-radius: 20px;
}

.rightClick .item {
  display: flex;
  align-items: center;
  gap: 10px;
  width: calc(100% - 30px);
  padding: 5px 15px;
  border-radius: 5px;
}

.rightClick .item:first-child {
  border-radius: 15px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.rightClick .item:last-child {
  border-radius: 15px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.rightClick .item:nth-last-child(2) {
  border-radius: 15px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.rightClick .item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.rightClick .divider {
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.1);
  margin: 5px 0px;
}

.copyLinkScreen, .markerDialogueScreen {
  z-index: 99999;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  align-items: center;
  justify-content: center;
}

.copyLinkScreen.open, .markerDialogueScreen.open {
  display: flex;
}

.copyLinkDialogue, .markerDialogue {
  height: unset;
  flex-direction: column;
  justify-content: baseline;
  gap: 5px;
  padding: 0px;
  overflow: hidden;
  min-width: 500px;
  width: 50vw;
  max-width: 800px;
}

.copyLinkDialogue .heading, .markerDialogue .heading {
  background-color: rgba(255, 255, 255, 0.05);
  padding: 10px 15px;
  width: calc(100% - 30px);
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-bottom: solid 1px rgba(255, 255, 255, 0.085);
}

.copyLinkDialogue .title, .markerDialogue .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 22px;
  padding-left: 5px;
  width: calc(100% - 10px);
}

.copyLinkDialogue .title .icon:hover, .markerDialogue .title .icon:hover {
  cursor: pointer;
}

.copyLinkDialogue .body, .markerDialogue .body {
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: calc(100% - 30px);
}

.copyLinkDialogue .subheading, .markerDialogue.subheading {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin-bottom: 5px;
  padding-left: 5px;
}

.copyLinkDialogue .tablist {
  display: flex;
  gap: 5px;
  background-color: rgba(0, 0, 0, 0.602);
  padding: 5px 5px;
  border-radius: 15px;
  width: fit-content;
}

.copyLinkDialogue .tablist .tab {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 5px 15px;
  border-radius: 10px;
  opacity: 0.35;
}

.copyLinkDialogue .tablist .tab:hover {
  background-color: rgba(255, 255, 255, 0.158);
  opacity: 0.5;
  cursor: pointer;
}

.copyLinkDialogue .tablist .tab.selected {
  background-color: rgba(255, 255, 255, 0.158);
  opacity: 1;
}

.copyLinkDialogue .item {
  padding-left: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.copyLinkDialogue .item.disabled {
  color: rgba(255, 255, 255, 0.5);;
  pointer-events: none;
}

.copyLinkDialogue .item.disabled .icon {
  opacity: 0.5;
}

.copyLinkDialogue .item.disabled-by-system .icon {
  opacity: 0.5;
}

.copyLinkDialogue .item.disabled-by-system {
  color: rgba(255, 255, 255, 0.5);
}

.copyLinkDialogue .item:hover {
  cursor: pointer;
}

.copyLinkDialogue .item:not(:nth-child(2)) {
  margin-top: -5px;
  padding-bottom: 5px;
  margin-left: 19px;
  padding-left: 20px;
  border-left: solid 2px #898989;
}

.copyLinkDialogue .item:nth-last-child(1) {
  border-bottom: solid 2px #898989;
  height: 0px;
  width: 10px;
  padding: 0px;
  padding-top: 15px !important;
  text-wrap: nowrap;
  margin-bottom: 10px;
}

.copyLinkDialogue .item:nth-child(3) {
  padding-top: 4px;
}

.copyLinkDialogue .item:nth-last-child(1) .icon {
  margin-left: 20px;
}

.copyLinkDialogue .copyLink {
  margin-bottom: 8px;
  margin-top: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  width: calc(100% - 30px);
  background-color: rgba(0, 0, 0, 0.602);
  padding: 5px 5px;
  border-radius: 18px;
}

.copyLinkDialogue .copyLink input {
  background-color: transparent;
  border: none;
  outline: none;
  padding-left: 7px;
  width: 100%;
}

.copyLinkDialogue .copyLink .copyLinkButton {
  border-radius: 12px;
  outline: none;
  border: none;
  background-color: rgba(255, 255, 255, 0.15);
  padding: 5px 15px;
  display: flex;
  gap: 10px;
  align-items: center;
  text-wrap: nowrap;
  width: 157px;
}

.copyLinkDialogue .copyLink .copyLinkButton:hover {
  background-color: rgba(255, 255, 255, 0.395);
  cursor: pointer;
}

.copyLinkDialogue .copyLink .copyLinkButton .popup {
  position: absolute;
  width: 110px;
  background-color: rgba(0, 255, 4, 0.148);
  border: solid 1px rgba(27, 255, 34, 0.367);
  pointer-events: none;
  padding: 0px 0px;
  border-radius: 10px;
  opacity: 0;
  transform: translateY(0px);
}

.copyLinkDialogue .copyLink .copyLinkButton .popup.animate {
  animation: popFade 1s ease forwards;
}

@keyframes popFade {
  0% {
    opacity: 0;
    transform:  translateY(-20px);
  }

  20% {
    opacity: 1;
    transform: translateY(-50px);
  }

  70% {
    opacity: 1;
    transform: translateY(-50px);
  }

  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}
.markerDialogue .body {
  gap: 15px;
}

.markerDialogue .markerNameInput {
  background-color: transparent;
  outline: none;
  border: none;
  padding-bottom: 7px;
  border-bottom: solid 2px rgba(255, 255, 255, 0.248);
}

.markerDialogue .markerColours {
  display: flex;
  gap: 10px;
}

.markerDialogue .item {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.054);
  width: 30px;
  height: 30px;
  border-radius: 10px;
}

.markerDialogue .item:hover {
  background-color: rgba(255, 255, 255, 0.144);
  cursor: pointer;
}

.markerDialogue .item.selected {
  border: solid 2px rgba(255, 255, 255, 0.69);
  padding: 8px;
}

.markerDialogue .showCoords {
  display: flex;
  align-items: center;
  gap: 10px;
}

.markerDialogue .saveMarker {
  border-radius: 12px;
  outline: none;
  border: none;
  background-color: rgba(255, 255, 255, 0.15);
  padding: 5px 15px;
  display: flex;
  gap: 10px;
  align-items: center;
  text-wrap: nowrap;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: 15px;
}

.markerDialogue .saveMarker:hover {
  background-color: rgba(255, 255, 255, 0.395);
  cursor: pointer;
}

.markerCoords {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 5px;
}

.coordInput {
  display: flex;
  gap: 10px;
  align-items: center;
}

.coordInput label {
  width: 80px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
}

.coordInput input {
  background-color: rgba(255, 255, 255, 0.05);
  border: none;
  outline: none;
  padding: 5px 10px;
  border-radius: 8px;
  width: 100px;
  color: white;
  font-size: 14px;
}

.coordInput input::-webkit-outer-spin-button,
.coordInput input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.coordInput input[type=number] {
  -moz-appearance: textfield;
}